
@mixin m_flex($justify, $align: flex-start) {
    display: flex;
    flex-wrap: nowrap;

    @if $justify {
        justify-content: $justify;
    } @else {
        justify-content: flex-end;
    }


    @if $align {
        align-items: $align;
    }


}