
p {
    color: red;
}


.sp1 {
    position: relative;
    bottom: 40px;
    left: 100px;
}

.sp2 {
    position: relative;
    top: 30px;
    right: 200px;
}

.pr {
    position: relative;
}


.abs {
    position: absolute;
    top: 20px;
}

.hg {
    min-height: 1000px;
}

.fx {
    position: fixed;
    background-color: blue;
    bottom: 30px;
}